<!DOCTYPE html>
<html>
  <body>
    <form action="/checkout" method="POST">
      Name of item: <input type="text" id="item_purchase" name="item">
      <input id="submit" type="submit" value="sumbit">
    </form>
  </body>
</html>
